{% extends 'Pages/modelo.html' %}

{% load static %}

{% block conteudo %}
    <hr>
    <h3>Artigos</h3>
    <hr>
    <div class="table table-reponsive">
        <table class="table table-striped">
            <tr>
                <th>Título</th>
                <th>Descricao</th>
                <th>Autor</th>
                <th>Ano</th>
            </tr>

            {% for artigo in object_list %}
            <tr>
                <td>{{ artigo.titulo }}</td>
                <td>{{ artigo.descricao }}</td>
                <td>{{ artigo.autor }}</td>
                <td>{{ artigo.ano }}</td>
            </tr>
            {% empty %}

            <tr>
                <td colspan="3">Nenhum artigo cadastrado</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}